
<h1 class="text-center">Менеджер задач</h1>

<div class="row">
  <div class="col-6">
    <%= form_for @task do |f| %>
      <%= f.label :text, 'Задача' %><br>
      <%= f.text_field :title, size: "40" %><br>
      <%= f.label :text, 'Текст задачи', class: 'mt-2' %><br>
      <%= f.text_area :text, size: "40x8" %><br>
      <%= f.submit "Добавить задачу", class: 'btn btn-success mb-2' %>
    <% end %>
  </div>

  <div class="col-6">
    <p class="text-center">Календарь</p>
    <form>
      <p>Выберите дату: <input type="date" name="calendar">
        <input type="submit" value="Отправить"></p>
    </form>
  </div>
</div>

<% @tasks.each do |t| %>
  <div class="row">
    <div class="card card-body">
      <div class="card-columns">
        <div class="col-md-8">
          <b><%= t.title %></b><br>
          <p><%= t.text %></p>
          <% if t.status %>
            <p>
              <strong>Задание выполнено</strong>
            </p>
          <% end %>
        </div>

        <div class="col-md-4">
          <p class="text">
            <% unless t.status %>
              <%= link_to done_task_path(t.id), method: :patch do %>
                <span class="fa fa-check" aria-hidden="true"></span>
              <% end %>
            <% end %>
            <%= link_to edit_task_path(t) do %>
              <span class="fa fa-edit" aria-hidden="true"></span>
            <% end %>
            <%= link_to task_path(t), method: :delete, data: { confirm: 'Вы уверены?'} do %>
              <span class="fa fa-trash" aria-hidden="true"></span>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>

<% end %>
